body{
    background-color: rgb(73, 30, 30);
}
.header {
    background-color: seagreen;
    padding: 1rem;
    margin:0rem;
    margin-bottom:1rem;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: space-around; 
}

Form {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: aqua;
}

Form input{
    font-size: large;
    width: 75%;
    padding: 0.5rem;
    margin: 0.3rem;
    border-radius:5px;
    text-align: center;
}

button{
    margin: 0.5rem;
    width: 30%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: blue;
    color: white;
    font-weight: bold;
}

.icon a {
    color: white;
    text-decoration: none;
}

.icon{
    display: flex;
    justify-content: center;
    column-gap: 0.4rem;
    margin: 0.3rem;
    font-size: 1.5rem
}

footer{
    text-align: center;
    background-color: seagreen;
    padding: 1rem;
    margin:0rem;
    margin-bottom:1rem;
    color: white;  
    font-size: larger;
    border-radius: 8px; 
}

.header > .logOut {
    border: 2px solid black;
    width:20%;
    background-color: rgb(105, 105, 236);
    border-radius:5px ;
    text-align: center;
}